/* CSS DO CADASTO.HTML
       NÃO MOVER PARA O CADASTO.HTML
       MOTIVO: CONFIDENCIAL
    */

    #cadasto {
        background: black;
        color: white;
        font-family: Arial;
    }

    #cadasto input {
        background: white;
        color: black;
        border: 5px solid red;
        padding: 15px;
        margin: 10px;
        font-size: 20px;
    }

    #cadasto form {
        border: 8px dashed yellow;
        padding: 30px;
        margin: 40px;
    }

    #cadasto button {
        background: yellow;
        color: purple;
        border: 10px solid red;
        padding: 30px;
        font-size: 30px;
        cursor: pointer;
    }
